# Build
build/
cmake-build-*/

# Compiled binaries
*.o
*.obj
*.a
*.so
*.dylib
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

# IDE
.vscode/
.idea/
# Ignore local VS Code tool configurations and caches
.vscode-ctools/
.workspace/

# Caches and Temporary Files
.cache/

# macOS
.DS_Store

